<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PYTHONPATH" value="D:\home\site\wwwroot"/>
    <add key="WSGI_HANDLER" value="main.app"/>
    <add key="WSGI_LOG" value="D:\home\LogFiles\wfastcgi.log"/>
  </appSettings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!-- customized activityTimeout (to 5 mins) and requestTimeout (to 60 mins)
        ref - https://www.iis.net/configreference/system.webserver/fastcgi
     -->
    <fastCgi>
      <application fullPath="D:\home\python364x64\python.exe" arguments="D:\home\python364x64\wfastcgi.py" 
        maxInstances="4" idleTimeout="300" activityTimeout="300"
        requestTimeout="3600" instanceMaxRequests="10000" protocol="NamedPipe" flushNamedPipe="false">
      </application>
    </fastCgi>

	
	<handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\home\python364x64\python.exe|D:\home\python364x64\wfastcgi.py" resourceType="Unspecified" requireAccess="Script"/>
    </handlers>
  </system.webServer>

</configuration>